/* ======== Html ======== */
html {
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
  color: #424B5A;
}

/* ======== Global ======== */

.wrapper-width {
  padding: 1rem;
}

/* ======== Header - Mobile ======== */
header {
  background-color: #E7F5F3;
  /* background-color: #adecdc; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 1rem;
}

header nav {
  display: none;
}

header img {
  max-width: 50px;
  max-height: 50px;
}

/* ======== Main Banner - Mobile ======== */
.main-banner {
  background-image: url(images/old-peoples.png);
  /* TODO: Change rgba */
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
  background-size: cover;
  text-align: center;
}

.main-banner h1 {
  margin: 0;
  padding: 1rem;
}

.main-banner h2 {
  margin: 0;
  font-size: 18px;
}

.main-banner a {
  background-color: #248F76;
  color: #ffff;
  text-decoration: none;
  display: inline-block;
  padding: 0.6rem 3rem 0.6rem 3rem;
  margin: 1.5rem;
  font-size: 12px;
  border-radius: 4px;
  width: 20%;
}

/* ======== Main Content - Mobile ======== */
.main-content {
  background-color: #F5FCFB;
  text-align: center;
}

.main-content h2 {
  margin: 0;
  padding: 1rem;
}

.main-content p {
  color: #A1AEB7
}

.main-content img {
  max-width: 100%;
  border-radius: 6px;
}

.main-content .item {
  margin: 2rem 0;
}

/* ======== Content Columns - Mobile ======== */
.content-columns {
  text-align: center;
}

.content-columns img {
  max-width: 100%;
  border-radius: 4px;
}

.content-columns p {
  color: #A1AEB7
}

.content-columns .item {
  background-color: #F5FCFB;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 4px;
  text-align: left;
}

/* ======== Types of Services - Mobile ======== */
.types-of-services {
  text-align: center;
}

.types-of-services h3 {
  margin: 0;
}

.types-of-services i {
  font-size: 25px;
  margin-right: 1rem;
}

.types-of-services p {
  color: #A1AEB7
}

.types-of-services a {
  background-color: #248F76;
  color: #ffff;
  text-decoration: none;
  display: inline-block;
  padding: 0.6rem 3rem 0.6rem 3rem;
  margin: 1.5rem;
  font-size: 12px;
  border-radius: 4px;
  width: 20%;
}

.types-of-services .item {
  padding: 1rem;
  box-sizing: border-box;
  border-bottom: 0.6px solid #A1AEB7;
  text-align: left;
}

.types-of-services .icon-item {
  display: flex;
}

/* ======== How Lifeline Works - Mobile ======== */
.how-lifeline-works {
  text-align: center;
  color: #A1AEB7;
  padding: 1rem;
}

.how-lifeline-works i {
  font-size: 35px;
  display: block;
}

.how-lifeline-works p {
  font-size: 22px;
}

.how-lifeline-works span {
  font-size: 50px;
  border-radius: 50%;
  border: 1px solid #A1AEB7;
  width: 80px;
  height: 80px;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  color: #A1AEB7;
  margin: 2rem;
}

.how-lifeline-works .item {
  margin: 2rem 0;
}

/* ======== Footer - Mobile ======== */
footer {
  text-align: center;
  padding: 2rem;
}

footer nav {
  margin-bottom: 3rem;
}

footer ul {
  list-style: none;
  margin: 0;
}

footer li {
  margin: 1rem 2rem 0 0;
}

footer p {
  border-top: 1px solid #A1AEB7;
  padding-top: 1rem;
  color: #A1AEB7;
}

footer a {
  text-decoration: none;
  color: #505D68;
  font-size: 18px;
}

footer img {
  max-width: 50%;
  max-height: 50%;
}