/* ======== Html ======== */
html {
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  color: #424B5A;
}

/* ======== Global ======== */

.wrapper-width {
  padding: 1rem;
}

/* ======== Header - Mobile ======== */
header {
  background-color: #F2F5F7;
  /* background-color: #adecdc; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 1rem;
}

header nav {
  display: none;
}

header img {
  max-width: 50px;
  max-height: 50px;
}

/* ======== Main Banner - Mobile ======== */
.main-banner {
  background-image: url(images/old-peoples.png);
  /* TODO: Change rgba */
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
  background-size: cover;
  text-align: center;
}

.main-banner h1 {
  margin: 0;
  padding: 1rem;
}

.main-banner h2 {
  margin: 0;
  font-size: 18px;
}

.main-banner a {
  background-color: #248F76;
  color: #ffff;
  text-decoration: none;
  display: inline-block;
  padding: 0.6rem 3rem 0.6rem 3rem;
  margin: 1.5rem;
  font-size: 12px;
  border-radius: 4px;
  width: 20%;
}

/* ======== Main Content - Mobile ======== */
.main-content {
  background-color: #F2F5F7;
  text-align: center;
}

.main-content h2 {
  margin: 0;
  padding: 1rem;
}

.main-content img {
  max-width: 100%;
  border-radius: 6px;
}

.main-content .item {
  margin: 2rem 0;
}

/* ======== Content Columns - Mobile ======== */
.content-columns {
  text-align: center;
}

.content-columns img {
  max-width: 100%;
  border-radius: 4px;
}

.content-columns p {
  color: #A1AEB7
}

.content-columns .item {
  background-color: #F2F5F7;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 4px;
  text-align: left;
}